@use "../abstracts" as *;


.art-avatar {
  height: 2.5rem;
  width: 2.5rem;
  background-color: $neutral-500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $neutral-0;
  .ant-avatar-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: inherit;
  }
}

// shape
.art-avatar-circle{
  border-radius: 100%;
}

// sizes
.art-avatar-sm{
  height: 2rem;
  width: 2rem;
}
.art-avatar-lg{
  height: 3.5rem;
  width: 3.5rem;
}
